@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

hr {
  height: 100%;
  width: 2px;
  background-color: #DFDFDF;
}

body {
  font-family: "Raleway", monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 23px;
  box-shadow: 0 2px 6px 2px rgba(34, 60, 80, 0.05);
}

.about__us {
  display: flex;
  align-items: center;
}
.about__us #about__us_one {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
}
.about__us #about__us_one span:first-child {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  color: #534847;
}
.about__us #about__us_one span:last-child {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #E6A859;
}
.about__us hr {
  height: 100%;
  width: 2px;
  background-color: #DFDFDF;
}
.about__us #about__us_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.about__us #about__us_two span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #534847;
}
.about__us #about__us_two span a {
  color: green;
}
.about__us #about__us_two span:last-child {
  color: #E6A859;
}

.contacts__\&_social {
  display: flex;
  align-items: center;
}
.contacts__\&_social .social {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 10px;
}
.contacts__\&_social .contacts {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 40px;
}
.contacts__\&_social .contacts span:first-child {
  color: #534847;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
.contacts__\&_social .contacts span:last-child {
  color: #E6A859;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.contacts__\&_social button {
  padding: 19px 24px;
  background-color: #E6A859;
  color: white;
}

.accent__color {
  color: #E6A859;
}

.content__banner {
  display: flex;
  position: relative;
  margin-top: 30px;
  width: 100%;
  min-height: 694px;
}
.content__banner .banner__info .info__block {
  position: absolute;
  top: 160px;
  left: 200px;
}
.content__banner .banner__info .info__block .info__title {
  font-size: 2.25rem;
  max-width: 45.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content__banner .banner__info .info__block .info__title span {
  color: #E6A859;
}
.content__banner .banner__info .info__block .info__text {
  width: 48.0625rem;
  font-size: 1.5rem;
  margin: 1.25rem 0;
  font-weight: 600;
}
.content__banner .banner__info .info__block .info__list {
  font-size: 1.12rem;
  font-weight: 600;
  color: #8D8180;
}
.content__banner .banner__info .info__block .info__list .list__item:before {
  content: "•";
}
.content__banner .banner__info .info__block .price__btn {
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.content__banner .banner__info .info__block .price__btn button {
  padding: 34px 32px;
  background-color: #47B58C;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}
.content__banner .banner__info .info__block .price__btn p {
  color: #8D8180;
  font-size: 16px;
  font-weight: 600;
  width: 20rem;
}
.content__banner .banner__info .info__block #babel {
  position: absolute;
  z-index: -10;
  top: -100px;
  left: -100px;
}
.content__banner .banner__info #rectangle__bg {
  position: absolute;
  bottom: 0;
  z-index: -27;
}
.content__banner .worker__images {
  width: 100%;
  position: relative;
}
.content__banner .worker__images #worker__bg {
  position: absolute;
  left: 930px;
  bottom: 0;
  z-index: 100;
}
.content__banner .worker__images #house__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 572px;
}

.advantages {
  padding: 120px 0;
  background-image: url("/assets/images/shape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantages__wrapper {
  display: flex;
  gap: 20px;
}
.advantages__wrapper .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #CFD6DC;
  border-radius: 15px;
  width: fit-content;
  padding: 28px;
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgb(255, 255, 255) 34%, rgb(250, 236, 219) 62%, rgb(230, 168, 89) 100%);
}
.advantages__wrapper .card__title {
  color: #534847;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.advantages__wrapper .card__description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  width: 17rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
