.order-call {
    margin-top: 100px;
    height: 100%;
}

.order-call__wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;

    .order-call__info {

        .info__title {
            font-size: 36px;
            font-weight: 700;
            color: $secondary-color;
        }

        .info__description {
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding: 24px 0 32px;

            p {
                font-size: 20px;
                font-weight: 600;
                color: #8D8180;

                &:first-child {
                    width: 37rem;
                }

                &:last-child {

                    span {
                        &:first-child {
                            color: $accent-color;
                        }

                        &:last-child {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .protocol-screen {
        position: relative;
        border: 1px solid #CFD6DC;
        border-radius: 16px;
        overflow: hidden;
        width: 896px;
        height: 465px;
        background-image: url("../../assets/images/documents/doc_Б-1.8.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


        &:hover  .screen__description {
            opacity: 0;
        }

        &:hover  .transparent-bg {
            background-color: #FFFFFF20;
        }

        .screen__description {
            position: absolute;
            left: 24px;
            bottom: 36px;
            z-index: 27;
            transition: all .3s ease-in-out;

            p {
                color: $secondary-color;

                &:first-child {
                    font-size: 20px;
                    font-weight: 600;
                    padding-bottom: 4px;
                    border-bottom: 2px solid $secondary-color;
                }

                &:last-child {
                    font-size: 14px;
                    font-weight: 500;
                    padding-top: 4px;
                }
            }
        }

        .transparent-bg {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.8);
            width: 100%;
            height: 100%;
            transition: all .3s ease-in-out;
        }
    }
}

.order-screen {

    .order__call-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        color: $white-color;
        font-size: 16px;
        font-weight: 600;
        background-color: $accent-color;
        padding: 30px 44px;
    }
}

.order-screen__wrapper {
    position: relative;
    padding: 124px 42px 32px;
    background-image: url("../../assets/images/building-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(-1, 1);

    .transparent-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(230, 168, 89, 0.8);
    }

    .order-screen__text {
        color: $white-color;
        transform: scale(-1, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 85px;

        .get-consultation {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3.title {
                font-size: 24px;
                font-weight: 700;
            }

            p.description {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .phone-call {

            h4.title {
                font-size: 20px;
                font-weight: 700;
            }

            span.phone {
                font-size: 24px;
                font-weight: 700;
            }

            p.description {
                font-size: 16px;
                font-weight: 600;
                padding: 12px 0 24px;
            }

            .input__wrapper {
                display: flex;
                justify-content: center;
                input {
                    background-color: $white-color;
                    border-radius: 16px;
                    border: 1px solid #CFD6DC;
                    padding: 12px 24px;
                    font-size: 18px;
                    width: 24rem;
                    height: 4rem;
                    color: #000;
                }
            }
        }
    }
}
