.advantages {
    padding: 120px 0;
    background-image: url("/assets/images/shape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.advantages__wrapper {
    display: flex;
    gap: 20px;
    .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #CFD6DC;
        border-radius: 15px;
        width: fit-content;
        padding: 28px;
        background: rgb(255,255,255);
        background: linear-gradient(135deg, rgba(255,255,255,1) 34%, rgba(250,236,219,1) 62%, rgba(230,168,89,1) 100%);
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
    }

    .card__title {
        color: $secondary-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }

    .card__description {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        width: 17rem;
    }
}
