@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

hr {
  height: 100%;
  width: 2px;
  background-color: #DFDFDF;
}

body {
  font-family: "Raleway", monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 23px;
  box-shadow: 0 2px 6px 2px rgba(34, 60, 80, 0.05);
}

.about__us {
  display: flex;
  align-items: center;
}
.about__us #about__us_one {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
}
.about__us #about__us_one span:first-child {
  font-size: 42px;
  text-transform: uppercase;
  line-height: 38px;
  font-weight: 800;
  color: #534847;
}
.about__us #about__us_one span:last-child {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #E6A859;
}
.about__us hr {
  height: 100%;
  width: 2px;
  background-color: #DFDFDF;
}
.about__us #about__us_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.about__us #about__us_two span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #534847;
}
.about__us #about__us_two span a {
  color: green;
}
.about__us #about__us_two span:last-child {
  color: #E6A859;
}

.contacts__\&_social {
  display: flex;
  align-items: center;
}
.contacts__\&_social .social {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 10px;
}
.contacts__\&_social .contacts {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 40px;
}
.contacts__\&_social .contacts span:first-child {
  color: #534847;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
.contacts__\&_social .contacts span:last-child {
  color: #E6A859;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: underline;
}
.contacts__\&_social button {
  padding: 19px 24px;
  background-color: #E6A859;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.contacts__\&_social button:hover {
  background-color: #d98c2b;
}
.contacts__\&_social button:active {
  position: relative;
  top: 2px;
}

.accent__color {
  color: #E6A859;
}

.footer {
  margin-top: 160px;
  background-color: #282322;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 42px 0 64px;
}
.footer .wrapper .footer__about__us {
  display: flex;
  flex-direction: column;
  margin-right: 160px;
}
.footer .wrapper .footer__about__us #footer__about__us_one {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 14px;
}
.footer .wrapper .footer__about__us #footer__about__us_one span:first-child {
  font-size: 32px;
  font-weight: 800;
  color: #FFF;
}
.footer .wrapper .footer__about__us #footer__about__us_one span:last-child {
  font-size: 16px;
  font-weight: 700;
  color: #939393;
}
.footer .wrapper .footer__about__us #footer__about__us_two {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.footer .wrapper .footer__about__us #footer__about__us_two span {
  font-size: 16px;
  font-weight: 700;
}
.footer .wrapper .footer__about__us #footer__about__us_two span:first-child {
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .wrapper .footer__about__us #footer__about__us_two span:first-child:before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 1px;
  border-radius: 6px;
  background-color: #E6A859;
}
.footer .wrapper .footer__about__us #footer__about__us_two span:first-child a {
  margin-left: -6px;
  color: #47B58C;
}
.footer .wrapper .footer__about__us #footer__about__us_two span:last-child {
  margin-left: 48px;
  color: #E6A859;
}
.footer .wrapper .footer__about__us .privacy-policy {
  color: #E6A859;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
}
.footer .wrapper .footer__social-block {
  margin-right: 260px;
}
.footer .wrapper .footer__social-block .number-phone {
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
}
.footer .wrapper .footer__social-block p > a {
  font-size: 16px;
  font-weight: 600;
  color: #E6A859;
  text-decoration: underline;
}
.footer .wrapper .footer__social-block .social {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding-top: 18px;
}
.footer .wrapper .newsletter {
  display: flex;
  flex-direction: column;
  width: 290px;
  color: #FFF;
}
.footer .wrapper .newsletter .subscribe-text h5.subscribe-title {
  font-size: 20px;
  font-weight: 700;
}
.footer .wrapper .newsletter .subscribe-text p.subscribe-desc {
  font-size: 16px;
  font-weight: 400;
}
.footer .wrapper .newsletter input.enter-your-email {
  padding: 16px 24px;
  width: 100%;
  border-radius: 16px;
  background-color: #FFF;
  font-size: 14px;
  margin: 16px 0;
}
.footer .wrapper .newsletter button.btn-subscribe {
  width: 100%;
  padding: 14px;
  background-color: #E6A859;
  font-size: 16px;
  font-weight: 400;
}

.content__banner {
  display: flex;
  position: relative;
  margin-top: 30px;
  width: 100%;
  min-height: 694px;
}
.content__banner .banner__info .info__block {
  position: relative;
  top: 160px;
  left: 200px;
}
.content__banner .banner__info .info__block .info__title {
  font-size: 2.25rem;
  max-width: 45.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content__banner .banner__info .info__block .info__title span {
  color: #E6A859;
}
.content__banner .banner__info .info__block .info__text {
  width: 48.0625rem;
  font-size: 1.5rem;
  margin: 1.25rem 0;
  font-weight: 600;
}
.content__banner .banner__info .info__block .info__list {
  font-size: 1.12rem;
  font-weight: 600;
  color: #8D8180;
}
.content__banner .banner__info .info__block .info__list .list__item:before {
  content: "•";
}
.content__banner .banner__info .info__block .price__btn {
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.content__banner .banner__info .info__block .price__btn button {
  padding: 34px 32px;
  background-color: #47B58C;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: border-radius 0.3s ease-in-out;
}
.content__banner .banner__info .info__block .price__btn button:hover {
  border-radius: 16px;
  background-color: #2fb684;
}
.content__banner .banner__info .info__block .price__btn p {
  color: #8D8180;
  font-size: 16px;
  font-weight: 600;
  width: 20rem;
}
.content__banner .banner__info .info__block #babel {
  position: absolute;
  z-index: -10;
  top: -100px;
  left: -100px;
}
.content__banner .banner__info #rectangle__bg {
  position: absolute;
  bottom: 0;
  z-index: -27;
}
.content__banner .worker__images {
  width: 100%;
  position: relative;
}
.content__banner .worker__images #worker__bg {
  position: absolute;
  left: 164px;
  bottom: 0;
  z-index: 100;
}
.content__banner .worker__images #house__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 572px;
}

.advantages {
  padding: 120px 0;
  background-image: url("../../assets/images/shape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantages__wrapper {
  display: flex;
  gap: 20px;
}
.advantages__wrapper .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #CFD6DC;
  border-radius: 15px;
  width: fit-content;
  padding: 28px;
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgb(255, 255, 255) 34%, rgb(250, 236, 219) 62%, rgb(230, 168, 89) 100%);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.advantages__wrapper .card:hover {
  transform: scale(1.02);
}
.advantages__wrapper .card__title {
  color: #534847;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.advantages__wrapper .card__description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  width: 17rem;
}

.consultation .consul__info .consul__title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
}
.consultation .consul__info .consul__description {
  font-size: 20px;
  font-weight: 600;
  color: #8D8180;
  padding-top: 14px;
}
.consultation .consul__content {
  display: flex;
  gap: 20px;
}
.consultation .consul__content .consul__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 42px;
  padding-bottom: 42px;
  width: 720px;
}
.consultation .consul__content .consul__list .list__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  align-items: start;
  color: #8D8180;
  font-size: 18px;
  font-weight: 500;
  counter-increment: item;
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
}
.consultation .consul__content .consul__list .list__item:hover {
  border-top: 1px solid #E6A859;
  border-bottom: 1px solid #E6A859;
  background-color: #FFF7EE;
}
.consultation .consul__content .consul__list .list__item p {
  display: flex;
  align-items: start;
  gap: 6px;
}
.consultation .consul__content .consul__list .list__item p:before {
  content: counter(item) ".";
}
.consultation .consul__content .consul__list .list__item a {
  color: #E6A859;
  text-decoration: underline;
  margin-left: 1.2rem;
}
.consultation .consul__content .list__btn {
  width: 100%;
  background-color: #E6A859;
  border-radius: 16px;
  padding: 20px 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
.consultation .consul__content .document {
  display: flex;
  border: 2px solid #CFD6DC;
  border-radius: 16px;
  overflow: hidden;
}
.consultation .consul__content .document img {
  object-fit: contain;
  padding-right: 10px;
}

.order-call {
  margin-top: 100px;
  height: 100%;
}

.order-call__wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.order-call__wrapper .order-call__info .info__title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
}
.order-call__wrapper .order-call__info .info__description {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px 0 32px;
}
.order-call__wrapper .order-call__info .info__description p {
  font-size: 20px;
  font-weight: 600;
  color: #8D8180;
}
.order-call__wrapper .order-call__info .info__description p:first-child {
  width: 37rem;
}
.order-call__wrapper .order-call__info .info__description p:last-child span:first-child {
  color: #E6A859;
}
.order-call__wrapper .order-call__info .info__description p:last-child span:last-child {
  text-decoration: underline;
}
.order-call__wrapper .protocol-screen {
  position: relative;
  border: 1px solid #CFD6DC;
  border-radius: 16px;
  overflow: hidden;
  width: 896px;
  height: 465px;
  background-image: url("../../assets/images/documents/doc_Б-1.8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.order-call__wrapper .protocol-screen:hover .screen__description {
  opacity: 0;
}
.order-call__wrapper .protocol-screen:hover .transparent-bg {
  background-color: rgba(255, 255, 255, 0.1254901961);
}
.order-call__wrapper .protocol-screen .screen__description {
  position: absolute;
  left: 24px;
  bottom: 36px;
  z-index: 27;
  transition: all 0.3s ease-in-out;
}
.order-call__wrapper .protocol-screen .screen__description p {
  color: #534847;
}
.order-call__wrapper .protocol-screen .screen__description p:first-child {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 2px solid #534847;
}
.order-call__wrapper .protocol-screen .screen__description p:last-child {
  font-size: 14px;
  font-weight: 500;
  padding-top: 4px;
}
.order-call__wrapper .protocol-screen .transparent-bg {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.order-screen .order__call-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  background-color: #E6A859;
  padding: 30px 44px;
}

.order-screen__wrapper {
  position: relative;
  padding: 124px 42px 32px;
  background-image: url("../../assets/images/building-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(-1, 1);
}
.order-screen__wrapper .transparent-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 168, 89, 0.8);
}
.order-screen__wrapper .order-screen__text {
  color: #FFF;
  transform: scale(-1, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 85px;
}
.order-screen__wrapper .order-screen__text .get-consultation {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.order-screen__wrapper .order-screen__text .get-consultation h3.title {
  font-size: 24px;
  font-weight: 700;
}
.order-screen__wrapper .order-screen__text .get-consultation p.description {
  font-size: 20px;
  font-weight: 600;
}
.order-screen__wrapper .order-screen__text .phone-call h4.title {
  font-size: 20px;
  font-weight: 700;
}
.order-screen__wrapper .order-screen__text .phone-call span.phone {
  font-size: 24px;
  font-weight: 700;
}
.order-screen__wrapper .order-screen__text .phone-call p.description {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0 24px;
}
.order-screen__wrapper .order-screen__text .phone-call .input__wrapper {
  display: flex;
  justify-content: center;
}
.order-screen__wrapper .order-screen__text .phone-call .input__wrapper input {
  background-color: #FFF;
  border-radius: 16px;
  border: 1px solid #CFD6DC;
  padding: 12px 24px;
  font-size: 18px;
  width: 24rem;
  height: 4rem;
  color: #000;
}

.security-areas {
  padding-top: 84px;
}
.security-areas .wrapper h2.security-areas__title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
  padding-bottom: 24px;
}
.security-areas .wrapper .safety-rule {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  background-color: #F9F9F9;
}
.security-areas .wrapper .safety-rule p.rule {
  font-size: 20px;
  font-weight: 600;
  color: #8D8180;
}
.security-areas .wrapper .areas {
  display: flex;
  align-items: center;
  gap: 186px;
}
.security-areas .wrapper .areas .areas__list {
  width: 680px;
  padding: 0 32px;
}
.security-areas .wrapper .areas .areas__list .list__item {
  cursor: pointer;
}
.security-areas .wrapper .areas .areas__list .list__item:hover {
  background-color: rgba(248, 247, 247, 0.35);
}
.security-areas .wrapper .areas .areas__list .list__item h5 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #534847;
  padding-top: 16px;
}
.security-areas .wrapper .areas .areas__list .list__item h5:before {
  content: "—";
}
.security-areas .wrapper .areas .areas__list .list__item hr {
  width: 100%;
  height: 1px;
  margin: 12px 0;
}
.security-areas .wrapper .areas .areas__list .list__item .category-desc {
  font-size: 18px;
  font-weight: 500;
  color: #8D8180;
}
.security-areas .wrapper .areas .areas__list .list__item .hidden-text {
  display: none;
  padding: 24px 0 12px 12px;
}
.security-areas .wrapper .areas .areas__list .list__item .hidden-text p {
  padding-bottom: 42px;
  font-weight: 500;
}
.security-areas .wrapper .areas .areas__list .list__item .hidden-text ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.security-areas .wrapper .areas .areas__list .list__item .hidden-text.show {
  display: inline-block;
}

.certification .wrapper .certification__title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
  text-align: center;
  padding: 48px 0 42px;
}
.certification .wrapper .certification-situations .situations__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 52px;
}
.certification .wrapper .certification-situations .situations__list .situations__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  width: fit-content;
}
.certification .wrapper .certification-situations .situations__list .situations__item .item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  background-color: #F9F9F9;
  border-radius: 50%;
}
.certification .wrapper .certification-situations .situations__list .situations__item p {
  font-size: 16px;
  font-weight: 600;
  color: #8D8180;
}

.group-certification {
  padding: 180px 0 120px;
}
.group-certification .wrapper {
  position: relative;
  background-image: url("../../assets/images/building-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(-1, 1);
  padding: 32px;
}
.group-certification .wrapper .text-block {
  position: relative;
  z-index: 27;
  transform: scale(-1, 1);
  color: #FFF;
}
.group-certification .wrapper .text-block div:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.group-certification .wrapper .text-block div:last-child {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 42px;
}
.group-certification .wrapper .text-block div:last-child .counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.group-certification .wrapper .text-block div:last-child .counter span {
  font-size: 20px;
  font-weight: 700;
}
.group-certification .wrapper .text-block div:last-child .counter .count {
  font-size: 28px;
  font-weight: 600;
  background-color: #FFF;
  width: 69px;
  height: 69px;
  border-radius: 16px;
  border: 1px solid #CFD6DC;
  color: #534847;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-certification .wrapper .text-block div:last-child .input__calculation {
  height: 69px;
  width: 430px;
  font-size: 20px;
  color: black;
  background-color: #FFF;
  border-radius: 16px;
  padding: 24px;
}
.group-certification .wrapper .text-block div:last-child .cost__calculation-btn {
  width: 400px;
  padding: 25px 44px;
  background-color: #E6A859;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-certification .wrapper .text-block .title-qs {
  font-size: 28px;
  font-weight: 800;
  width: 36rem;
}
.group-certification .wrapper .text-block .description {
  font-size: 20px;
  font-weight: 600;
  width: 48rem;
}
.group-certification .worker-image {
  position: absolute;
  left: 140px;
  bottom: 0;
  z-index: 27;
  transform: scale(-1, 1);
}
.group-certification .transparent-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 168, 89, 0.8);
}
.group-certification .black-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  transform: scale(-1, 1);
}

.numbers .wrapper .text-block {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.numbers .wrapper .text-block .title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
}
.numbers .wrapper .text-block .description {
  font-size: 20px;
  font-weight: 600;
  color: #8D8180;
}
.numbers .wrapper hr {
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
.numbers .numbers__list {
  display: grid;
  grid-template-columns: 540px 475px;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.numbers .numbers__list .numbers__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 16px;
  padding: 20px;
}
.numbers .numbers__list .numbers__item:nth-child(2) {
  height: 168px;
}
.numbers .numbers__list .numbers__item:nth-child(2) p {
  border-top: 1px solid #D9D9D9;
  padding-top: 10px;
  padding-bottom: 10px;
}
.numbers .numbers__list .numbers__item:nth-child(4) {
  height: 168px;
}
.numbers .numbers__list .numbers__item:nth-child(4) p {
  border-top: 1px solid #D9D9D9;
  padding-top: 10px;
  padding-bottom: 10px;
}
.numbers .numbers__list .numbers__item h5 {
  color: #534847;
  font-size: 20px;
  font-weight: 600;
}
.numbers .numbers__list .numbers__item span {
  font-size: 64px;
  font-weight: 600;
  color: #E6A859;
}
.numbers .numbers__list .numbers__item div {
  display: flex;
  align-items: end;
  gap: 10px;
}
.numbers .numbers__list .numbers__item p {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #8D8180;
  font-size: 18px;
  font-weight: 600;
}
.numbers .numbers__list .numbers__item p:before {
  content: "•";
  font-size: 2rem;
  color: #E6A859;
}

.fines {
  background-image: url("../../assets/images/shape-v2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.fines .wrapper .fines__text-block .fines__title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
}
.fines .wrapper .fines__text-block .fines__description {
  font-size: 20px;
  font-weight: 600;
  color: #8D8180;
  padding: 20px 0 32px;
}
.fines .wrapper .fines__tables {
  display: flex;
  align-items: start;
  gap: 32px;
}
.fines .wrapper .fines__tables .criminal,
.fines .wrapper .fines__tables .administrative {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #CFD6DC;
  border-radius: 16px;
  padding: 24px;
  background-color: #FFF;
}
.fines .wrapper .fines__tables .criminal h4,
.fines .wrapper .fines__tables .administrative h4 {
  font-size: 20px;
  font-weight: 700;
  color: #534847;
}
.fines .wrapper .fines__tables .criminal #table-one,
.fines .wrapper .fines__tables .criminal #table-two,
.fines .wrapper .fines__tables .administrative #table-one,
.fines .wrapper .fines__tables .administrative #table-two {
  font-size: 18px;
  font-weight: 500;
  color: #8D8180;
}
.fines .wrapper .fines__tables .criminal #table-one ul li,
.fines .wrapper .fines__tables .criminal #table-two ul li,
.fines .wrapper .fines__tables .administrative #table-one ul li,
.fines .wrapper .fines__tables .administrative #table-two ul li {
  display: flex;
  gap: 6px;
}
.fines .wrapper .fines__tables .criminal #table-one ul li:before,
.fines .wrapper .fines__tables .criminal #table-two ul li:before,
.fines .wrapper .fines__tables .administrative #table-one ul li:before,
.fines .wrapper .fines__tables .administrative #table-two ul li:before {
  content: "–";
}
.fines .wrapper .fines__tables .criminal #table-one,
.fines .wrapper .fines__tables .administrative #table-one {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 678px;
  height: 328px;
}
.fines .wrapper .fines__tables .criminal #table-two,
.fines .wrapper .fines__tables .administrative #table-two {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 695px;
  height: 456px;
}

.faq .wrapper .faq__title {
  font-size: 36px;
  font-weight: 700;
  color: #534847;
  text-align: center;
  padding: 56px 0 32px;
}
.faq .wrapper .faq__content {
  display: flex;
  gap: 24px;
}
.faq .wrapper .faq__content .faq__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 696px;
}
.faq .wrapper .faq__content .faq__list .faq__item {
  display: flex;
  justify-content: space-between;
  padding: 23px 20px;
  background-color: #F9F9F9;
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.faq .wrapper .faq__content .faq__list .faq__item:active {
  height: 276px;
  background-color: #FFF8EE;
}
.faq .wrapper .faq__content .faq__list .faq__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: 276px;
  background-color: #FFF8EE;
}
.faq .wrapper .faq__content .faq__list .faq__item:nth-child(2) .item__title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #534847;
}
.faq .wrapper .faq__content .faq__list .faq__item:nth-child(2) .faq__item_desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #8D8180;
}
.faq .wrapper .faq__content .faq__list .faq__item:nth-child(2) .faq__item_desc ul li:before {
  content: "•";
  padding: 0 6px;
}
.faq .wrapper .faq__content .faq__list .faq__item .faq__item_title {
  font-size: 18px;
  font-weight: 600;
  color: #534847;
}
.faq .wrapper .faq__content .faq__list .faq__item .plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 24px;
  color: #FFF;
  background-color: #E6A859;
}
.faq .wrapper .faq__content .faq__data-block {
  width: 678px;
  padding: 32px;
  background-color: #F9F9F9;
  border-radius: 16px;
}
.faq .wrapper .faq__content .faq__data-block .faq__data_title {
  font-size: 26px;
  font-weight: 700;
  color: #534847;
  padding-bottom: 16px;
}
.faq .wrapper .faq__content .faq__data-block .faq__data_desc {
  font-size: 20px;
  font-weight: 600;
  color: #8D8180;
  padding-bottom: 24px;
}
.faq .wrapper .faq__content .faq__data-block .inputs-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.faq .wrapper .faq__content .faq__data-block .inputs-block input:is(.full-name, .phone, .email) {
  border: 1px solid #CFD6DC;
  background-color: #FFF;
  width: 100%;
  padding: 18px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
}
.faq .wrapper .faq__content .faq__data-block .inputs-block .comment {
  border: 1px solid #CFD6DC;
  background-color: #FFF;
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
}
.faq .wrapper .faq__content .faq__data-block .inputs-block .btn__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  background-color: #E6A859;
  padding: 24px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}
.faq .wrapper .faq__content .faq__data-block .inputs-block .btn__submit:hover {
  background-color: #de9334;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
